*{
    padding-left:5px;
    padding-right: 10px;
}
#spotify-brand{
    font-family: orbitron;
    font-size:30px;
}
body{
    overflow-x: hidden;
    
   
}
.row1{
    
    height:100%;
    background: black;
}
.try{
    height: 50px;
    text-decoration: none;

}
#home a{
    text-decoration: none;
}
#home{
    text-decoration: none;
}
.row2{
    display: flex;
    flex-wrap: flex-wrap;

}
.playlist1{
    width: 20vw;
    height: 15vw;
    text-align: center;
    font-family: orbitron;
    
}
.playlist2{
    position: relative;
    width: 20vw;
    height: 15vw;
    text-align: center;
    font-family: orbitron;
    margin-bottom: 50px;
}

.carousel-inner img{
    position: absolute;
    width:100%;
    height:100%;
}

.container{
    
    width: 75vw;
    height: 35vw;
    
    display:flex;
    justify-content: center;
    align-items: center;
    image-orientation:center;
    background-size: cover;
}
#myCarousel{
    display:flex;
    justify-content:space-between;
    margin-bottom: 10px;
}
.playlists{
    font-family: Nunito,sans-serif;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    font-size: 45px;
    margin-top: 50px;
}
.image2{
    width: 100%;
    height:100%;
    border: 10px;
    padding:10px;
    opacity:0.7;
    transition: transform 1s;

}
.image2:hover{
    opacity: 1;
    border-radius: 30px;
    transform: scale(1.1,1.1);
     
    
}
.image3{
    width: 100%;
    height:100%;
    padding:10px;
    transition: transform 1s;
}
.image3:hover{
    transform: scale(1.1,1.1)
}
.image4{
    width: 95%;
    height:100%;
    padding:10px;
    border-radius: 100%;
}
.nav{
    font-family:NUnito,sans-serif;
}
#logo{
    width: 200px;
    border-radius:50px;
}
#rowid{
    width:100vw;
    position: relative;
    margin-bottom:100px;
}
.margin{
    margin:0px;
    background-color: rgb(0,0,0);
    
    color:white;
}
.font{
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    font-family: Nunito,sans-serif;
    text-align: center;
    padding:5px;
}
.font:hover{

    font-size:25px;
    border: white;
    border-radius: 30px;
    padding: 5px;
    background-color: rgb(218,112,214,0.3);
    text-decoration: none;
}
.footer{
    width:100%;
   position: fixed;
   bottom:0;
   background-image: radial-gradient(circle, #060707, #011217, #061725, #1a1830, #341430);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}
.footer i:hover{

    color: rgba(155, 20, 150, 0.5);
}

.footer div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-decoration: left;
}
.footer div:nth-child(1) img{
    height:75px;
    width: 100px;
}
.footer div:nth-child(2){
    
    position: relative;
    width:80%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer div:nth-child(2)  div:nth-child(2){

    width:80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    

}

.footer div:nth-child(2)  div:nth-child(2) span{
    
    position: relative;
    height:5px;
    width:80%;
    background-color: white;
    border-radius: 5px;

}
.footer div:nth-child(2)  div:nth-child(2) span span{
    position: absolute;
    width:20%;
    left: 0;;
    background-color:rgba(155, 20, 150, 0.979);
   

}
.footer div:nth-child(3){
    width:10%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}
.footer div:nth-child(3) span{
    position: relative;
    width:80%;
    height:5px;
    background-color: white;
    border-radius: 5px;

}
.footer div:nth-child(3) span span{
    position: absolute;
    background-color:rgba(155, 20, 150, 0.979);
    left:0;
    border-radius: 0%;
}


